node_modules
dist
public/focus-reader-extension.zip
.pack-stage
dist-ssr
*.local
.DS_Store
npm-debug.log*

# TypeScript / build artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Firebase
.firebase/
firebase-debug.log*
